*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0;
}
html, body{
    display: flex;
    width: 100%;
    height: 100%;   
    margin: 0;
    background-color: whitesmoke;
}
body{
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.login{
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 550px;
    height: 350px;
    background-color:white;
    border-radius: 10px;
}
.log_create{
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 25px;
}

#log_nickname, #log_password{
    width: 400px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid gray;
    padding-left: 10px;
    outline: none;
}
.log_button{
    box-shadow: none;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 400px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: none;
    background: rgb(115,153,255);
    background: linear-gradient(90deg, rgba(115,153,255,1) 0%, rgba(2,218,253,1) 100%);
    color: white;
    font-size: 15px;
    font-weight: 700;
    outline: none;
}
